/* Light mode styles */
:root {
  --background-color: #f5f5f5;
  --card-background: #ffffff;
  --text-color: #000000;
  --button-background: #006d77;
  --button-hover-background: #005f63;
  --priority-high: #ff6961;
  --priority-medium: #fdfd96;
  --priority-low: #77dd77;
  --delete-button: #ff6f61;
  --delete-button-hover: #ff4c4c;
}

/* Dark mode styles */
.dark-mode {
  --background-color: #333333;
  --card-background: #444444;
  --text-color: #ffffff;
  --button-background: #005f63;
  --button-hover-background: #004b52;
  --priority-high: #ff5757;
  --priority-medium: #f2f233;
  --priority-low: #66cc66;
  --delete-button: #ff4f4f;
  --delete-button-hover: #ff3c3c;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}
